@import url('https://fonts.googleapis.com/css?family=Lora|Mukta');

input {
  width: 130px;
  margin-left: 8px;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  background-color: #f44336;
  border: 1px solid #f44336;
  color: white;
  display: inline-block;
  font-family: 'Mukta', sans-serif;
  font-size: 11px;
  height: 20px;
  line-height: 15px;
  margin-left: 3px;
  margin-right: 11px;
  padding: 3px;
  text-transform: uppercase;
  transition-duration: 0.6s;
  vertical-align: middle;
  width: 20px;
}

button:hover {
  background-color: white;
  color: black;
}

button:active {
  background-color: #fafafa;
  transform: translateY(1px);
  transition-duration: 0.3s;
}

button:focus {
  outline: none;
}

.formBlock {
  display: -webkit-box;
  font-family: 'Lora', serif;
  font-weight: 700;
}

.sheetLine {
  cursor: pointer;
  line-height: 3;
  height: 30px;
}

.sheetNameText {
  font-size: 14px;
  font-family: 'Lora', serif;
}

.sheetNameText.active-sheet {
  border-bottom: 3px solid #338236;
}
