input {
  font-family: 'Nunito', sans-serif;
  width: 150px;
  height: 28px;
  border: 1px solid #6b6b6b;
  border-radius: 4px;
}

input:focus {
  outline: 0 none;
}

button {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

button.submit {
  background: rgb(234, 234, 255);
  margin: 0px 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #6b6b6b;
  border-radius: 4px;
  transition: background 300ms ease-in;
}

button.submit:hover {
  background: rgb(234, 234, 255, 0.4);
}

button.delete {
  width: 17px;
  -webkit-transition-duration: 0.4s; /* Safari */
  background-color: #ffffff;
  border: 1px solid #f44336;
  color: #676767;
  display: inline-block;
  font-size: 11px;
  height: 17px;
  line-height: 15px;
  margin-left: 3px;
  margin-right: 11px;
  padding: 1px;
  text-transform: uppercase;
  transition-duration: 0.6s;
  vertical-align: middle;
}

button.delete:hover {
  background-color: #f44336;
  color: #ffffff;
}

button.delete:active {
  background-color: #f44336;

  transform: translateY(1px);
  transition-duration: 0.3s;
}

button.delete:focus {
  outline: none;
}

.formBlock {
  display: -webkit-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
}

.sheetLine {
  padding: 10px 0px;
  border-bottom: 1px solid #eaeaea;
}

button.basicButton {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

span.sheetNameText {
  cursor: pointer;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  border-bottom-color: rgba(51, 130, 54, 0);
  border-bottom-width: 3px solid none;
  border-bottom-style: solid;
  transition: border-bottom-color 300ms ease-in;
}

span.sheetNameText:hover {
  border-bottom-color: rgba(51, 130, 54, 0.2);
}

span.sheetNameText:active {
  border-bottom-color: rgba(51, 130, 54, 0.2);
}

span.sheetNameText.active-sheet {
  border-bottom-color: rgb(51, 130, 54);
}

/*
CSSTransitionGroup styling
 */
.sheetNames-enter {
  opacity: 0;
}

.sheetNames-enter.sheetNames-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.sheetNames-exit {
  opacity: 1;
}

.sheetNames-exit.sheetNames-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.sheetNames-appear {
  opacity: 0;
}

.sheetNames-appear.sheetNames-appear-active {
  opacity: 1;
  transition: opacity 0.5ms ease-in;
}
