name: Local integration tests - Basic Version

on:
  pull_request:
    branches: [main]

jobs:
  basic-integration-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11, macos-latest, windows-latest]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [18, 20, 22]
    timeout-minutes: 8
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install packages
        run: yarn install
      - name: Allow running mkcert on Mac
        run: sudo security authorizationdb write com.apple.trust-settings.admin allow
        if: runner.os == 'MacOS'
      - name: Install mkcert
        run: brew install mkcert
        if: runner.os == 'MacOS'
      - name: Run mkcert setup [mkcert -install]
        run: mkcert -install
        if: runner.os == 'MacOS'
      - name: Install https cert [yarn setup:https]
        run: yarn setup:https
        if: runner.os == 'MacOS'
      - run: | 
          mkdir certs
          .\test\generate-cert.ps1
        shell: pwsh
        if: runner.os == 'Windows'
      - name: Run integration tests
        run: yarn test:integration
        shell: bash